.showerLight,
.showerDark {
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.showerLight {
    background-color: white;
}

.showerLight ul,
.showerDark ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex: 1;
}

.showerLight li,
.showerDark li {
    padding: 20px;
    cursor: pointer;
    margin: 0 20px;
}

.showerLight li:hover,
.showerDark li:hover {
    box-shadow: 0 0 2px grey;
}

.groupWelcome {
    font-size: x-large;
    font-weight: 300;
    margin-bottom: 30px;
}

.sameLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.infos {
    padding: 5px 20px;
}

.infos > span {
    color: deepskyblue;
    margin: 0 2px;
}