.contentLight,
.contentDark {
    width: 100%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
}

.contentLight:hover,
.contentDark:hover {
    box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
        0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}

.contentDark {
    color: white;
}

.contentLight > .boxHeader,
.contentDark > .boxHeader {
    overflow: hidden;
    padding: 5px;
    padding-left: 20px;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid rgb(166, 233, 255);
}

.boxHeader::after {
    content: "";
    position: absolute;
    background-color: orange;
    width: 5px;
    height: 6px;
    top: auto;
    bottom: auto;
    left: 5px;
}

.contentLight > .boxHeader {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.contentDark > .boxHeader {
    background: linear-gradient(
            to bottom,
            #323232 0%,
            #3f3f3f 40%,
            #1c1c1c 150%
        ),
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.25) 200%
        );
    background-blend-mode: multiply;
}

.contentLight > .boxContent,
.contentDark > .boxContent {
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.contentLight > .boxContent {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.contentDark > .boxContent {
    background: linear-gradient(
            to bottom,
            #323232 0%,
            #3f3f3f 40%,
            #1c1c1c 150%
        ),
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.25) 200%
        );
    background-blend-mode: multiply;
}

.boxContent > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.boxContent > ul > li {
    height: 25px;
    padding: 0 10px;
    text-align: start;
}
