.contentLight,
.contentDark {
    width: 100%;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    overflow: hidden;
}

.contentDark {
    color: white;
}

.contentLight > .boxHeader,
.contentDark > .boxHeader {
    overflow: hidden;
    padding: 5px;
    padding-left: 20px;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid rgb(166, 233, 255);
}

.boxHeader::after {
    content: "";
    position: absolute;
    background-color: orange;
    width: 5px;
    height: 6px;
    top: auto;
    bottom: auto;
    left: 5px;
}

.contentLight > .boxHeader {
    background-color: #f1f8ff;
}

.contentDark > .boxHeader {
    background-color: transparent;
}

.contentLight > .boxContent,
.contentDark > .boxContent {
    overflow: hidden;
    padding: 10px 0;
}

.contentLight > .boxContent {
    background-color: white;
}

.contentDark > .boxContent {
    background-color: transparent;
}

.boxContent > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.boxContent > ul > li {
    height: 25px;
    padding: 0 10px;
    text-align: start;
}
