.contentLight,
.contentDark {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 10px;
    box-shadow: 0 0 1px grey;
    font-size: small;
    font-weight: 300;
    width: 100%;
    border-radius: 5px;
}

.contentLight {
    background-color: #f6f8fa;
}

.contentDark {
    color: white;
    background-color: var(--theme-commonbox-night);
}

.contentLight > .from,
.contentDark > .from {
    align-self: flex-end;
}
