.navbar {
    background-color: var(--theme-nav-bg-color);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: none;
    z-index: 9999999999;
}

.logo {
    margin: auto 0;
}

.icon {
    font-size: 20px;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.menu {
    position: relative;
}

.navs {
    position: absolute;
    width: 100vw;
    top: 41px;
    right: -20px;
    transition: all 0.2s ease-in-out;
    background-color: var(--theme-commonbox-night);
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.navs > li {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--theme-commonbox-night);
    box-shadow: 0 0 1px grey;
    font-size: 16px;
}

.navs > li a {
    color: white;
}

.subNav {
    width: calc(100% + 40px);
    margin: 10px -20px -10px;
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: var(--theme-commonbox-content-night);
}

[class^="subgroup"] ul {
    padding: 2px 30px 2px;
}

[class^="subgroup"] ul li {
    color: white;
    font-size: 14px;
    height: 25px;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
    }
}
