.navbar {
    background-color: var(--theme-nav-bg-color);
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}

.navbarLeft {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbarRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

/* 搜索栏 */
.navbarSearchBox {
    position: relative;
    margin-right: 15px;
}

.navbarSearch {
    height: 30px;
    width: 200px;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    border: 1px solid grey;
    transition: width 0.2s ease-in;
    background-color: #4b4b4b;
    color: white;
}

.navbarSearch:focus {
    width: 250px;
    background-color: #6b6b6b;
    border-radius: 10px 10px 0 0;
}

/* 搜索提示建议 */
.navbarSearchTips {
    position: absolute;
    top: 30px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #6b6b6b;
    height: 0;
    color: white;
    overflow: hidden;
    transition: height 0.2s ease-in;
    border-radius: 0 0 10px 10px;
    opacity: 0;
}

.navbarSearchTips > li {
    padding: 10px;
    cursor: pointer;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
}

.navbarSearchTips > li > a {
    color: white;
}

.navbarSearchBox:hover ul {
    height: 80px;
}

/* 设置元素可见 */
.navbarSearch:focus + ul {
    opacity: 1;
}

/* 新增帖子 */
.navbarAddIcon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navbarAddPost {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    right: 0;
    height: 0;
    width: 90px;
    background-color: white;
    box-shadow: 0 0 2px grey;
    transition: height 0.5s ease-in-out;
    z-index: 999;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbarAddPost > li {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.navbarAddPost > li:hover {
    background-color: #6b6b6b;
}

.navbarAddIcon:hover .navbarAddPost {
    height: 70px;
}

/* 进入个人空间 */
.navbarAvatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.navbarMine {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    right: 0;
    height: 0;
    width: 90px;
    background-color: white;
    box-shadow: 0 0 2px grey;
    transition: height 0.5s ease-in-out;
    z-index: 999;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbarMine > li {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.navbarMine > li:hover {
    background-color: #6b6b6b;
}

.navbarAvatar:hover .navbarMine {
    height: 100px;
}

/* 导航栏 */
.navbarNavs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    height: 70px;
}

.navbarNavs > li {
    position: relative;
    padding: 0 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbarNavs > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--theme-post-add);
    transition: width 0.5s ease-in-out;
}

.navbarNavs > li:hover::after {
    width: 100%;
}

.navbarNavs > li > a {
    color: white;
    text-decoration: none;
}

/* 子导航 */
.navbarSubNavs {
    position: relative;
    display: inline-block;
}

.navbarSubNavs > a {
    color: white;
    text-decoration: none;
}

/* 子导航容器 */
.navbarSubNavsBox {
    position: absolute;
    top: 40px;
    left: -20px;
    padding: 10px;
    background-color: var(--theme-nav-bg-color);
    display: none;
    min-width: 300px;
}

.navbarNavs > li:hover .navbarSubNavsBox {
    display: block;
}

/* 子导航组样式 */
.navbarSubGroup {
    margin: 10px 0;
}

.navbarSubGroup > ul {
    color: white;
    padding-left: 30px;
}

.navbarSubGroup > ul > li {
    padding: 2px 0;
}

.navbarSubGroup > ul > li > a {
    color: white;
    font-size: small;
    text-decoration: none;
}

.navbarSubGroupTitle {
    color: grey;
    font-size: smaller;
}