@import "../../global.css";

.pageLight,
.pageDark {
    padding-top: 130px;
}

.pageLight {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.pageDark {
    background-color: var(--theme-bg-color-night);
}
