@import "../../global.css";

.pageLight,
.pageDark {
    padding-top: 100px;
    z-index: 2;
}

.pageLight {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.pageDark {
    background-color: var(--theme-bg-color-night);
}

@media screen and (max-width: 768px) {
    .pageLight,
    .pageDark {
        padding-top: 90px;
    }
}
