.articlePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 100px;
    width: calc(100% - 200px);
}

.articleLeft {
    margin-right: 80px;
}

.articleRight {
    width: 500px;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}
