.articlePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 100px;
    width: calc(100% - 200px);
}

.articleLeft {
    flex: 1;
    margin-right: 80px;
    max-width: calc(100vw - 480px);
}

.articleRight {
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
}

@media screen and (max-width: 1024px) {
    .articlePage {
        padding: 20px 5px;
        width: calc(100vw - 10px);
        max-width: calc(100vw - 10px);
    }
    .articleLeft {
        width: calc(100vw - 10px);
        margin-right: 0;
        max-width: calc(100vw - 10px);
    }
    .articleRight {
        display: none;
    }
}
