.content {
    box-sizing: border-box;
    width: 100vw;
    padding: 60px 100px;
    padding-top: 0;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: calc(100vh - 100px);
}

.left {
    width: calc((100vw - 200px) / 2);
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 1px dotted grey;
}

.right {
    width: calc((100vw - 200px) / 2);
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
        padding: 20px 10px;
        min-height: calc(100vh - 120px);
    }
    .left,
    .right {
        width: calc(100vw - 20px);
        height: 50%;
    }
}
