.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 100px;
    min-height: 90vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    width: 330px;
}

@media screen and (max-width: 1024px) {
    .content {
        flex-wrap: wrap-reverse;
        padding: 0 20px;
    }
    .left {
        margin: 10px 0;
    }
    .right {
        width: 100%;
        position: static;
    }
}
