.body {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 100px;
    height: 100%;
    width: calc(100% - 200px);
}

.bodyLeft {
    display: flex;
}

.bodyRight {
    margin-left: 30px;
}

.avatarBox {
    width: 70px;
    height: 70px;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
}
