.content {
    list-style: none;
    margin: 16px;
    padding: 0;
}

.content > li {
    position: relative;
    padding: 0 0 10px 0;
}

.content > li::before {
    content: "";
    position: absolute;
    background-color: #eaecef;
    top: 0;
    bottom: 0;
    left: -15px;
    width: 2px;
}

.content > li::after {
    content: ">>";
    position: absolute;
    top: 2px;
    left: -20px;
}

.title {
    font-size: 14px;
    padding: 5px;
}

.card {
    box-shadow: 0 0 3px grey;
    padding: 10px;
    border-radius: 5px;
}
