.content {
    background-color: var(--theme-nav-bg-color);
    padding: 20px 100px;
    color: white;
}

.commonLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentText {
    font-size: small;
    color: grey;
}

.contentICP {
    font-size: small;
    color: rgb(163, 163, 163);
}

@media screen and (max-width: 767px) {
    .content {
        padding: 20px;
    }
    .commonLine {
        flex-direction: column;
        padding: 10px 0;
    }
}
