.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: medium;
    font-weight: 400;
    margin: 20px 0 0;
}

.plugins {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.market {
    margin-top: 30px;
}
